extends layout

block content
	form#search-form(action='/search', method='POST')
		input#searchValue(name="searchValue", placeholder="Search for a proggramming language")
		input(type="submit", value="Search")

	p#results

script#results-template(type="text/x-handlebars-template")
	p {{desc}}